.text-box{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    
}

.center-text{
    margin-top: 0;
    text-align: center;
    font-family: Oswald;
    font-size: 80px;
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(213, 205, 205);
    opacity: 0.8;
    border-radius: 100%;
    
    
}
.header2{
    position: relative;
    left: 50%;
    bottom: 50px;
    color: rgb(70, 3, 3);
    border: 2px solid whitesmoke;
    background-color: antiquewhite;
    border-radius: 10%;
    font: italic 20px Arial, sans-serif;
    padding: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
}
@media (max-width: 600px){
    .text-box{
        width: 95%;

        font-size: 4vw;
    }
}
.Student-portal-box{
    background-color: rgb(184, 179, 179);
    opacity: 0.8;
    padding: 20px;
}
.Staff-portal-box{
    background-color: rgb(184, 179, 179);
    opacity: 0.8;
    padding: 20px;
}
.IITG-Logo{
    max-width: 20%;   
    display: block;
    
    
}